
body{
    background-color: rgb(209, 209, 209);
}

h1 {
    text-align: center;
    color: rgb(36, 36, 80);
    font-size: 2rem;
    margin-bottom: 0.5em;
}
.login_cont {
    margin-top: 7rem;
    background-color: white;
    padding: 1em;
    border-radius: 0.2rem;
    border: 2px solid rgb(36, 36, 80);
}

.inputs{
    margin-bottom: 1em;
}
.inputs input, .inputs select{
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 2px solid rgb(36, 36, 80);
}
.button_log button{
    padding: 0.5em;
    border-radius: 0.5em;
    border: 2px solid rgb(36, 36, 80);
    color: rgb(36, 36, 80);
    font-size: 1.4em;
}
.button_log button:hover{
    background-color: rgb(36, 36, 80);
    color: white;

}